Bottleneck==1.5.0
datasets==3.6.0
joblib==1.5.0
keras==3.9.2
llvmlite==0.44.0
matplotlib==3.10.1
nltk==3.9.1
numba==0.61.2
numexpr==2.10.2
numpy==2.2.6
opencv-python-headless==4.11.0.86
pandas==2.2.3
pyarrow==20.0.0
pycuda==2025.1
pycuda==2025.1
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
six==1.17.0
threadpoolctl==3.6.0
tmu==0.8.3
torch==2.7.0
torch-geometric==2.6.1
tqdm==4.67.1
tzdata==2025.2
kagglehub


































